@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
    color: #FFD166;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-title {
    text-align: center;
    margin-top: 20px;
    letter-spacing: 3px;

}

.search-box {
    padding: 20px;
    text-align: center;
}

input {
    margin: 10px;
}

.btn-result,
.btn-srch {
    background-color: #26547C;
    border-color: #26547C;
    margin: 5px auto 5px;
}

.btn-srch {
    width: 125px;
}

.btn-srch:hover {
    background-color: #2E86AB;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.results {
    margin-bottom: 25px;
}

.btn-result-mobile {
    background-color: #26547C;
    border-color: #26547C;
    margin: 5px auto 5px;
    display: none;
}

.result-container {
    border: 1px solid #FFD166;
    text-align: center;
    height: 50px;
    overflow: hidden;

}

.lyric-container {
    border: 1px solid #FFD166;
    text-align: center;
}

@media (max-width: 767px) {
    .btn-result {
        display: none!important;
    }
    .btn-result-mobile {
        display: block;
    }
}
